@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
  font-family: 'Crimson Text', serif;
}
h1{font-family: 'Crimson Text', serif;
}
h2{font-family: 'Crimson Text', serif;}
